body {
  background-color: #ede7db;
}

.footer {
  background-color: #f8f9fa;
}

.fika {
  background-color: #492F22;
}

.great-coffee {
  background-image: url("./images/coffee_tree.jpg");
  background-repeat: no-repeat;
}

.who {
  background-color: #9d9ca2;
}

.what {
  background-image: url("./images/beans.jpeg");
  background-repeat: no-repeat;
}

.why {
  background-color: #9dc0b7;
}

